body {
    background: rgba(158, 158, 158, 0.952);    
}
.header {
    padding: 10px 16px;
    background: rgb(77, 112, 151);
    color: #f1f1f1;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .content { 
    padding: 16px; 
  }
  
  
  .sticky { 
    position: fixed;  
    top: 0;  
    width: 100% 
  } 
  .sticky + .content { 
    padding-top: 102px;
  }

  
.contenedor{
    width: 1080px;
    margin: auto;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    width: 97%;
    background: #2c5966;
    list-style: none;
    display: flex;
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;  
      
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: rgb(17, 34, 58);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgb(82, 105, 136);
    border-bottom: rgb(17, 29, 65);
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#contenidopestanas{
    clear: both;  
    background: rgb(255, 255, 255);
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid rgb(75, 98, 139);
    width: 1025px;
}
#contenidopestanas div{
    padding: 20px 0px 20px 20px;
  }
  
  #pestanas #pestana1, #cpestana1{
    background: rgb(255, 255, 255);
  }
  
  #pestanas #pestana2, #cpestana2{
    background: rgb(255, 255, 255);
  }
  
  #pestanas #pestana3, #cpestana3{
    background: rgb(255, 255, 255);
  }
  
  .all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: white;
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }
  
  footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(185, 185, 185);
    color: white;
  }
